* {
    padding: 10px 20px;
    margin: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
/* img {
    max-width: 200px;
    max-height: 200px;
} */

#photos {
    display: flex;
    justify-content: space-between;
    background-color: rgb(50, 50, 218);
}

#photos img {
    width: 30%;
}

ul {
    list-style: none;
}

#hidden {
    display: none;
}

#visible {
    background-color: rgb(194, 70, 70);
    padding: 15px 30px;
    border-radius: 50px;
}